<div class="contenedor">
<h3 class="my-3 text-center">Developers</h3>
<div class="subcontenedor d-flex justify-content-center">
    <div class="card" style="width: 90%;">
        <img class="card-img-top" src="https://cdn.soccerwiki.org/images/player/82739.png">
        <div class="card-body">
          <h5 class="card-title text-center">Camilo Nuñez</h5>
          <p class="card-text" style="text-align: justify;">Estudiante del Csma desde hace 6 años, con un promedio ganador de 6.98, si dios quiere, proxima promocion 2023 y dado el caso erroneo, proximo vendedor de bonice en yopal</p>
          
        </div>
      </div>


</div>
<div class="subcontenedor d-flex justify-content-center">
    <div class="card" style="width: 90%;">
        <img class="card-img-top" src="https://static.nationalgeographicla.com/files/styles/image_3200/public/chimpanzee_01.jpg?w=1600&h=1065">
        <div class="card-body">
          <h5 class="card-title text-center">Gouty Pondy</h5>
          <p class="card-text" style="text-align: justify;">Estudiante de el CSMA desde hace 3 años, con un promedio record de 4.78 en calculo, proxima promocion 2023 y con cuenta de instagram insana</p>
          
        </div>
      </div>


</div>
</div>
