<div class="contenedor">
    <div class="subcontenedor mx-3">
        <h3 class="text-center mt-3">Welcome to CsMA site</h3>
        <img class="text-center mb-3" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSG6YEk6eusjLWYM29xmQyZjhBZHViv0H3gVg&usqp=CAU" width="100%">
        
        <p style="text-align: justify;">este periodico digital es una iniciativa por el grado undecimo promocion 2023, esto para informar en tiempo real todos los acontecimientos relacionados a la comunidad y que se pueda acceder a esta informacion de una manera mucho mas facil y accesible para todos los que posean un dispositivo mobil (tamaño iPhone SE preferiblemente)</p>
        <b>Conformado Por: </b>
        <code>Camilo Nuñez</code>
        
    </div>
</div>